body, sl-card, sl-button, sl-input {
    font-family: 'Roboto', sans-serif;
  }
.login-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}